<h2 style="text-align:center"> Filter reviews </h2>
{{#if message}}
	<p>{{message}}</p>
{{/if}}
<div class = "form-group">
Fast Food Chain: <select name = "storeName" class="form-control" form = "filter">
					<option value = "McDonald&#39s"> McDonald's </option>
					<option value = "Dunkin Donuts"> Dunkin Donuts </option>
					<option value = "Burger King"> Burger King </option>
					<option value = "Wendy's"> Wendy's </option>
				</select>
</div>
<div class = "form-group">
Borough: <select name = "borough" class = "form-control" form = "filter">
			<option value = "Queens"> Queens </option>
			<option value = "Brooklyn"> Brooklyn </option>
			<option value = "Bronx"> Bronx </option>
			<option value = "Manhattan"> Manhattan </option>
			<option value = "Staten Island"> Staten Island </option>
			</select>
</div>

<form id = "filter" method = "get" action = "/">
	<div class = "form-group">
		Minimum Rating (out of 5): <input type = "number" name = "rating" class = "form-control" min = "1" max = "5">
	</div>
	<button type = "submit" class="btn btn-warning btn-lg"> Submit </button>
</form>
<table class = "table">
	<tr>
		<th> Restaurant </th>
		<th> Street Address </th>
		<th> Borough </th>
		<th> Zip </th>
		<th> Review </th>
		<th> Rating </th>
	</tr>
	{{#each results as |result|}}
	<tr> 
		
		<td> {{result.storeName}} </td>
		<td> <a href = "/{{result.streetAddress}}"> {{result.streetAddress}} </a></td>
		<td> {{result.borough}}</td>
		<td> {{result.zip}}</td>
		<td> {{result.review}}</td>
		<td> {{result.rating}} </td>

		
	</tr>
	{{/each}}
</table>